<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello World</title>
    <meta name="description" content="The default Apache test page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <style>
      html {font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1.5}
      body {color:#222; font-family:Georgia,serif; margin:0; padding:1em}
      h1, h2 {font-family:'Montserrat',sans-serif;text-align:center}
      h1 {font-size:6em}
      h2 {font-size:3em}
    </style>
  </head>
  <body>
    <h1>Puppet Controls</h1>
    <h2><%= @hostname %></h2>
  </body>
</html>
